#content {
    margin: 0 auto;
    width: 900px; 
  } 



  #byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    }
  

    h1{
      font-family: Helvetica, sans-serif;
      font-weight: 700;
      font-style: normal;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;

}

figure{
  font-size: .5em;
}

blockquote {
  font: 16px/24px normal helvetica, sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
  
}
